.button {
    /* margin-block: calc(var(--inline) * 2); */
    border-radius: 4rem;
    background-color: var(--clr-primary);
    color: var(--clr-bg) !important;
    padding: 1rem 2rem;
    width: fit-content;

    transition: all .15s ease-in;
    font-weight: 500;
}

.button:hover {
    background-color: white;

    color: var(--clr-secondary);
}

.button-2 {
    background-color: var(--clr-bg-2);
    color: var(--clr-text);
}

.button-2:hover {
    background-color: var(--clr-primary);

    color: white;
}


.button-3 {
    background-color: var(--clr-text);
    color: var(--clr-bg-2);
}

.button-3:hover {
    background-color: var(--clr-secondary);

    color: var(--clr-bg-2);
}


section .button {
    margin-top: 2rem;
    display: block;
}

@media (max-width: 600px) {
    section .button {
     
     margin: auto;
    }
}