hr {
    width: 100%;
    border-color: rgba(255,255,255,.2);
}

/********** Images **********/
img {
    border-radius: var(--corners);
    margin-bottom: 1rem;
    max-width: 100%;
}


/********** Cards **********/
.card {
    padding: calc(var(--inline)*2);
    border-radius: var(--corners, .5rem);
    background-color: var(--clr-secondary, #756d5c);
    box-shadow: inset 0px 0px 128px rgba(255, 193, 86, 0.3)
    /* background: url('../lib/images/backgrounds/cashmere-pattern.svg'), linear-gradient(var(--clr-primary), #2c292f); */
}


.card-black {
    padding: calc(var(--inline)*2);
    border-radius: var(--corners, 1rem);
    background-color: rgba(0,0,0,.4);
    /* box-shadow: 0 4px 16px 0 black; */
    backdrop-filter: blur(8px);
}

.card-gray {
    padding: calc(var(--inline)*2);
    border-radius: var(--corners, 1rem);
    background-color: var(--clr-dark);
    /* box-shadow: 0 4px 16px 0 black; */
    backdrop-filter: blur(8px);
}

@media (max-width: 600px) {
    .card, .card-black, .card-gray {
        margin-inline: 0;
        padding: calc(var(--inline));
    }

    
}


.card, .card-black {
    /* box-shadow: 0 4px 16px 0 black; */
}

.card :is(h1, h2, h3, h4, h5, h6), 
.card-black :is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 1em;
}


/********** Blockquote **********/
.blockquote {
    border-left: 1px solid var(--clr-primary, gold);
    border-right: 1px solid var(--clr-primary, gold);
    background-color: rgba(0,0,0,.5);
    padding: var(--inline);
}


.tab {
    padding: var(--inline);
    background-color: var(--clr-secondary, #756d5c);
    background-image: linear-gradient(var(--clr-secondary, #756d5c), color-mix(in srgb, var(--clr-secondary), black));
    border-top-left-radius: var(--corners, .5rem);
    border-top-right-radius: var(--corners, .5rem);

}


/********** Checklists **********/
.checklist {
    margin: 0;
    /* padding-inline: var(--inline); */
}

ol.checklist {
    padding-inline: 1rem;
}

ol.checklist li {
    padding-inline: 1rem;
}

ol.checklist li::marker {
    font-size: 1em;
}

.checklist li {
    margin-bottom: calc(var(--block)/2);
}

.checklist li:last-child {
    margin-bottom: 0;
}

.checklist li > * {
    /* margin: 0; */

}

.checklist ul i::marker {
    content: "check_circle ";
    /* font-size: 2rem; */
    /* margin-right: 1rem; */
    font-family: "Material Symbols Outlined";
    font-variation-settings: 'fill' 0, 'wght' 800, 'GRAD' 0, 'opsz' 24;
}

/********** Icons **********/

.icon, .icons {
    font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.icon.filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


/********** Responsive Hero **********/


/* Responsive Hero Banner */
.responsive-hero {
    background-repeat: no-repeat;
    background-size: cover;

}

.responsive-hero .hero-img {
    display: none;
    margin-bottom: var(--block);
}

.span2.responsive-hero .inner-wrapper {
    gap: 3rem;
}

@media (max-width: 600px) {
    .responsive-hero {
        /* background-image: none !important; */
        background-color: var(--clr-dark) !important;
    }
    .responsive-hero .hero-img {
        display: block;
        width: 100%;
        border-radius: 1rem;
        padding: 0;
    }

    .span2.responsive-hero .inner-wrapper {
        gap: 0;
    }
}